@font-face {
    font-family: Gotham;
    src: url(Fonts/Gotham-font-family/Gotham-Book.otf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(Fonts/Gotham-font-family/Gotham/Gotham-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Gotham;
}
a{
    text-decoration: none;
    color: #fff;
}